/* RippleLoader.css */
.loader_container {
    @apply inline-block relative;
}

.loader_container div {
    @apply absolute border-4 border-white opacity-100 rounded-full animate-loader;
}

@keyframes ripple {
    0% {
        top: 45%;
        left: 45%;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        opacity: 0;
    }
}

.animate-loader {
    animation-name: ripple;
    animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
    animation-iteration-count: infinite;
}
