.sections_container {
    margin-bottom: 30px;
    width: 100%;
}

.sections_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.sections_title {
    @apply text-xl font-semibold capitalize text-white;
    padding-left: 4rem;
}

.sections_text_content {
    @apply mb-4;
}

.sections_text {
    @apply text-sm font-semibold capitalize text-white;
    padding-left: 2rem;
    justify-content: end;
    padding-bottom: 0.1rem;
}

.sections_swiper {
    padding-bottom: 40px;
}
