.inputCheckboxAnswer_container {
    @apply text-base text-blue-950;
    @apply mt-2;
    @apply border-4 border-transparent;
    @apply w-full;
    @apply shadow-sm;
    background-color: white;
    user-select: none;
    transition: 0.2s ease-in-out;
    font-weight: 500;
    border-bottom: 1px solid #e4e4e4;
}

.inputCheckboxAnswer_container__selected {
    @apply border-blue-300 bg-blue-300;
    transform: translateX(0.25rem);
}

.inputCheckboxAnswer_container__success {
    @apply border-blue-300 bg-blue-300;
}

.inputCheckboxAnswer_container__errorSelected {
    @apply border-red-300 bg-red-300;
}

.inputCheckboxAnswer_container__errorNotSelected {
    @apply border-yellow-300 bg-yellow-300;
}

.inputCheckboxAnswer_label {
    @apply flex items-center;
}

.inputCheckboxAnswer_label:hover {
    @apply cursor-pointer
}

.inputCheckboxAnswer_input {
    display: none;
    @apply h-6 w-6;
    @apply bg-blue-400;
}

.inputCheckboxAnswer_text {
    @apply ml-1 m-1 p-1;
}

@screen md {
    .inputCheckboxAnswer_text {
        @apply ml-1 m-1 p-1;
    }
}

@screen lg {
    .inputCheckboxAnswer_container {
        @apply w-[600px];
    }
}