.quiz_question_wrapper {
    @apply flex w-full;
    background-color: #f5f5f5;
    min-height: calc(100vh - 76px);
}

.quiz_question__loading {
    @apply text-blue-950;
    @apply text-center font-semibold;
    @apply flex flex-auto justify-center items-center;
}

.quiz_question_content_left {
    flex: 1;
    @apply flex flex-col items-center justify-center;
    @apply p-8;
    background-color: #ebebeb;
    border-right: 0.5px solid #ebebeb;
}

.quiz_question_content_right {
    flex: 1;
    @apply flex flex-col items-center justify-between;
    @apply p-8;
    border-left: 0.5px solid #ebebeb;
}

.quiz_question_index {
    @apply text-black font-semibold;
}