.section_container {
    margin-top: 2rem;
}

.section_title {
    @apply text-xl font-semibold capitalize text-white;
    padding-left: 4rem;
}

.section_swiper {
    padding-bottom: 40px;
}

.section_content {
    @apply flex;
}